body {
    margin: 0;
    padding: 0;
    background-color: #9696c0;
  }

.top-anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}
  
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: #515151;
  color: #fff;
  z-index: 10;
}

.header a{
  color: black;
}

.header ul li{
  display: inline;
  margin-left: 20px;
  font-size: 32px;
}


.main{
  padding-top: 50px;
}
.main p{
  text-align: center;
  color: black;
  font-size: 20px;
}
.main a{
  text-align: center;
}

.main img{
  width: 100%;
}
.SNS{
  display: flex;
}

.SNS .twitter{
  width: 50%;
}

.SNS .instagram{
  width: 50%;
}

.icon{
  width: 15%;
}
    
.footer{
  background-color: #515151;
}
